
/* base styles */
* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.formular {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;

}
h1 {
  padding-bottom: 20px;
}

button {
  background-color: #8e4ae7;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

 input,  textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: block;
  color: #333;
}
.block-comment {
  margin-top: 15px;  
  width: 100%;
  border-top: #333 solid 1px ;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.comment {
  margin-top: 5px; 
  padding-left: 15px;
}
form {
  padding-bottom: 55px;
}

.btn {
  background-color: #508376;
  height: auto;
}